html
	head
		title request header parser
		style
			include css/style.css
			include css/bootstrap.min.css

	body(class='text-center')
		div(class='page-header')
			h1 Request Header Parser Microservice
		h3 User Stories:
		ol(class='well')
			li I can get the IP address, language and operating system for my browser.
		h3 Example usage:
		p(class='well') 
			|https://timestamp-ms.herokuapp.com/api/whoami
		p(class='well') 
			|{"ipaddress":"115.117.171.92","language":"en-US","software":"X11; Linux i686"}
